body {
    min-width: 600px;
}

body, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', cursive;
} 


#header {
    background-image: url(images/bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 167px;
    color: whitesmoke;

}

#header-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* border: 1px solid purple; */
    padding: 50px;
    font-size: 22.42px;
}

h1 {
    font-size: 39px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.menu-entry-container {
    padding: 0 50px;
}

.menu-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #D2D2D2;
    padding: 50px 0;
}

.menu-entry-info {
    display: flex;
}

.menu-entry-emoji {
    font-size: 75px;
    margin-right: 25px;
    display: flex;
    /* align-items: center; */

}

.menu-entry-button {
    border: 1px solid lightgray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.menu-entry-text {
    display: flex;
    flex-direction: column;
}

.menu-ingredients-text {
    margin-bottom: 12px;
}

.menu-ingredients-text {
    color: #8B8B8B;
}

/* .hidden {
    display: none;
} */

.cart {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* border: 1px solid #D2D2D2; */
    margin: 50px 50px;

} 

.cart-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid #D2D2D2; */
    margin: 5px 0;
}

.cart-complete-button-container {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.cart-complete-button {
    color: #FFFFFF;
    background-color: #16DB99;   
    width: 500px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    /* margin-top: 40px; */
    font-weight: bold;
}

.cart-remove-link {
    padding-left: 8px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #BBBBBB;
}

.cart-item-food {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.cart-header > h3 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
}

.cart-item-pricing {
    font-size: 20px;
}

.tally-line {
    border-bottom: 2px solid black;
    padding: 8px 0;
}

.total-entry {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.total-title {
    font-size: 28px;
}

.total {
    font-size: 20px;
}

input {
    border: 1px solid #757575;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 23px;
    height: 71px;
    width: 90%;    
}

.payment-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* align-items: center; */
    background-color: #FFF;
    width: 524px;
    height: 524px;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 0 200px rgba(0, 0, 0, .75);
}

/* #payment-modal-container {
    max-width: 524px;
    border: 1px solid black;
    margin: auto;
    border-radius: 4px;
    position: relative;
} */

#payment-modal-header {
    /* border: 1px solid black; */
    width: 100%;
    display: inline;
}

#payment-modal-header > h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 0 60px 110px;
    font-weight: bold;
    font-size: 24px;
}

#card-submit {
    background-color: #16DB99;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin: 25px 0;
    width: 475px;
    height: 71px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.completed-order-message-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.completed-order-message {
    /* width: 504px; */
    /* height: 120px; */
    padding: 40px 60px;
    background-color: #ECFDF5;
    color: #065F46; 
    display: none;
    font-family: 'Smythe', cursive;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 50px;
}